:root {
  --text: #36363a;
  --text-secondary: #2c2c3099;
  --green-text: #0d5f07;
  --color-text-link: #0366d6;

  --background: #fdfdfd;
  --background-secondary: #f5f5f7;
  --hover-background: #eef2f5;
  --green-background: #d4ecd1;

  --seperator-color: #e1e4e8;
}

html {
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  color: inherit;
}

body {
  margin: 0;
  padding: 20px 20px 60px 20px;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--color-text-link);
}

a:hover {
  text-decoration: underline;
}

footer {
  height: 50px;
  font-size: 0.9em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px;
  background-color: var(--background-secondary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

main {
  flex-shrink: 0;
  height: 40vh;
  min-height: 440px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20vh;
  border: 1px solid var(--seperator-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.bottom h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
}

/* Clickable elements */
.element {
  cursor: pointer;
  width: 50%;
  padding: 12px;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--seperator-color);
  transition: background-color 200ms ease-out;
}

.element:hover {
  background-color: var(--hover-background);
}

.element1 {
  border-radius: 8px 0 0 0;
}

.element4 {
  border-radius: 0 8px 0 0;
}

.element1,
.element2,
.element3 {
  border-right: 1px solid var(--seperator-color);
}

.element p {
  margin: 0;
  font-size: 0.9em;
}

.element h2 {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 18px;
}

.center {
  text-align: center;
}

.text-secondary {
  color: var(--text-secondary);
}

/* Notification */
.notification {
  position: fixed;
  bottom: 100vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  padding: 16px 0;

  transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.notification.visible {
  transform: translateX(-50%) translateY(100%);
  opacity: 1;
}

.notification-content {
  margin: 0;
  border-radius: 6px;
  padding: 12px 16px;
}

.notification * {
  margin: 0;
}

.success {
  background-color: var(--green-background);
  color: var(--green-text);
}

/* Media queries */
@media screen and (min-width: 600px) {
  .element {
    width: 25%;
  }

  .bottom h1 {
    font-size: 100px;
  }

  .element h2 {
    font-size: 22px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text: #f8f8fc;
    --text-secondary: #e0e0ebce;
    --green-text: #13550e;
    --color-text-link: #2385e7;

    --background: #141416;
    --background-secondary: #1f1f23;
    --hover-background: #303036;
    --green-background: #80b979;

    --seperator-color: #38383a;
  }
}
